params {
   app = '../neuron-search-tools/target/colormipsearch-3.1.0-jar-with-dependencies.jar'
   db_config = 'mylocal/devdb-config.properties'
   cpus = 10
   mem_gb = 20
   java_opts = ''

   tool_runner = '' // for debugging set this to echo
   anatomical_area = 'brain'

   first_job = 0
   last_job = 0

   // CDS options
   cds_cache_size = 100000
   cds_processing_tag = 'cds-flywire-20240322'
   masks_library = 'flywire_fafb_783'
   masks_published_names = ''
   masks_tags = ''
   targets_library = 'flylight_split_gal4_published'
   targets_published_names = ''
   targets_tags = ''
   mirror_flag = true
   mask_th = 20
   target_th = 20
   pix_color_fluctuation = 1.0
   xy_shift = 2
   pct_pos_pixels = 1.0
   cds_mask_batch_size = 20000
   cds_target_batch_size = 5000
   cds_processing_size = 250

   // GRAD score options
   gradscore_cache_size = 100000
   gradscore_batch_size = 500
   ga_processing_size = 25

}
