params {
   // MIPs selection params
   masks_library = 'flywire_fafb_783'
   masks_published_names = ''
   masks_tags = ''
   masks_excluded_tags = ''
   mask_terms = ''
   mask_excluded_terms = 'optic'

   targets_library = 'flylight_annotator_gen1_mcfo_published'
   targets_published_names = ''
   target_terms = ''
   target_excluded_terms = 'optic'
   targets_tags = ''
   targets_excluded_tags = ''

   mip_ids = ''
   mip_libraries = ''
   mip_published_names = ''
   mip_release_labels = ''
   mip_tags = ''
   mip_processing_tags = ''
   mip_excluded_tags = 'validationError'

   // CDS options
   cds_cache_size = 50000
   cds_processing_tag = 'cds-flywire-20240522'

   // CDS processing and persistence params
   cds_mask_batch_size = 10000
   cds_target_batch_size = 5000
   cds_processing_size = 250
   update_cds_matches = true
   cds_write_batch_size = 400000
   cds_parallelize_write_results = true

   // CDS algorithm params
   mask_th = 20
   target_th = 20
   pix_color_fluctuation = 1.0
   xy_shift = 2
   pct_pos_pixels = 1.0
}
