params {
    // Export data
    exported_mask_names = ''
    exported_mask_mips = ''
    exported_mask_tags = data_version
    excluded_from_exported_mask_tags = 'validationError,junk,not-released'
    exported_target_tags = data_version
    excluded_from_exported_target_tags = 'validationError,junk,not-released'
    exported_mask_terms =  ''
    excluded_from_exported_mask_terms = ''
    exported_target_terms = ''
    excluded_from_exported_target_terms = ''
    exported_mask_libs = ''
    exported_target_libs = ''
    base_export_dir = '/nrs/neuronbridge'
    release_dirname = 'v3.7.2'
    jacs_url = ''
    jacs_authorization = ''
    default_image_store = 'fl:open_data:brain'
    image_stores_map = [
        JRC2018_Unisex_20x_HR : 'fl:open_data:brain',
        JRC2018_VNC_Unisex_40x_DS : 'fl:open_data:vnc',
        'JRC2018_Unisex_20x_HR^flyem_male_cns_brain_0_8' : 'fl:internal_cns:brain',
        'JRC2018_VNC_Unisex_40x_DS^flyem_male_cns_vnc_0_8' : 'fl:internal_cns:vnc',
    ]

    all_brain_and_vnc_LM_libraries = [
        'flylight_raw_published',
        'flylight_split_gal4_published',
        'flylight_gen1_mcfo_published',
        'flylight_annotator_gen1_mcfo_published',
    ]

    all_brain_and_vnc_EM_libraries = [
        'flyem_hemibrain_1_2_1',
        'flywire_fafb_783',
        'flyem_manc_1_2_1',
        'flyem_vnc_0_5',
    ]

    max_exported_matches_with_same_name_per_mip = 5
    max_exported_matches_per_mip = 5000

    export_concurrency = 0
    export_batch_size = 4000
    export_processing_size = 250
}