params {
   masks_processing_tags = ''
   targets_processing_tags = ''

   // GRAD scoring selection params
   matches_tags = ''
   top_best_line_matches = 300
   top_best_sample_matches_per_line = 0
   top_best_matches_per_sample = 0
   with_bidirectional_matching = false
   pct_pos_pixels = 2

   // GRAD score options
   gradscore_processing_tag = 'shapescore'

   // GRAD processing params
   gradscore_batch_size = 100
   ga_processing_size = 10
   process_partitions_concurrently = true
   grad_score_parallelism = 20
   gradscore_cache_size = 100000
}
