params {
    validate_libs = ''
    validate_data_releases = ''
    validate_published_names = ''
    validate_samples = ''
    validate_mip_ids = ''
    validate_tags = ''
    mip_terms = ''
    mip_excluded_terms = ''
    validation_error_tag = 'validationError'
    validation_batch_size = 4000
    validation_processing_size = 20
}
